
  <div>
    <button type="button" class="btn btn-primary" (click)="getPlanets()">Load planets</button>
  </div>

<div *ngIf="planets" style="text-align:center" >
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Planet</th>
      <th>Climate</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let planet of planets">
      <th>{{planet.name}}</th>
      <th>{{planet.climate}}</th>
      <th>
      <button type="button" class="btn btn-info">Edit</button>
    </th>
    </tr>
  </tbody>
  </table>
</div>

<!-- npm uninstall --save bootstrap -->

