<div *ngIf="peopleObs; else loading" style="text-align:center" >
  <ng-template #loading>Loading Data...</ng-template>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>      
      <th>Mass</th>
      <th>Hair</th>
      <th>Skin</th>
      <th>Eye</th>
      <th>Bith year</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of peopleObs | async">
      <th>{{person.name}}</th>    
      <th>{{person.height}}</th>
      <th>{{person.mass}}</th>
      <th>{{person.hair_color}}</th>
      <th>{{person.eye_color}}</th>
      <th>{{person.birth_year}}</th>
      <th>{{person.gender}}</th>
      <th>
      <button type="button" class="btn btn-info">Edit</button>
    </th>
    </tr>
  </tbody>
  </table><p>
  people works!
</p>
